html {
  font-size: 20px;
}

body {
  font-family: ui-system, sans-serif;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
}

h1 {
  margin-block: 0;
  color: white;
}

p {
  margin-block-end: 0;
  margin-block-start: 0.25rem;
  color: white;
}

label {
  display: block;
  font-weight: bold;
  margin-block-start: 1.5rem;
}

input {
  box-sizing: border-box;
  font-size: inherit;
  margin-block-start: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

input[readonly] {
  background-color: beige;
  border-color: transparent;
}

input[type='submit'] {
  background-color: #ffbb00;
  border-radius: 3rem;
  border: none;
  color: black;
  cursor: pointer;
  margin-block-start: 1rem;
}

input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #bd8a00;
}

input[type='range'] {
  margin-block-end: 0;
  margin-inline: 0;
  padding: 0;
}

datalist {
  display: flex;
  justify-content: space-between;
}

option {
  padding: 0;
}
.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d1001f;
  display: flex;
}
.toolbar li {
  float: left;
}
.toolbar li a {
  display: block;
  color: indianred;
  text-align: center;
  padding: 20px 24px; /* Increase padding to make buttons bigger */
  text-decoration: none;
  font-size: 20px; /* Increase font size to make buttons bigger */
}
.toolbar li a:hover {
  background-color: #800020	;
}
